.d{
    background-color: #72C9B9;
    
}
.navbar a{
    color: white;
}
.navbar li:hover{
    color: white;
}

.btn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}