<!-- <div class="container-fluid d">
    <nav class="navbar navbar-expand">
      <a href="#" class="navbar-brand">Bookerholic</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a  class="nav-link">View Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Add Books</a>
        </li>
      </div>
    </nav>
    <div class="container mt-3">
    </div>
  
</div> -->

<div class="container-fluid d">
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btnb navbar-brand btn-ghost normal-case text-xl">Bookerholic</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal p-0">

            <!-- add router link after a -->
            <li><a >View Books</a></li>
            <li><a>Add Book</a></li>
          </ul>
        </div>
      </div>
</div>